.main-cont {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}
.pantry-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    background-color: #F8F8F8;
}

.pantryHeader {
    padding: 20px 0px 10px 0px;
    text-align: center;
    border-bottom: solid grey 1px;
}
.pantryHeader-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    margin: 30px 0px 0px 0px;
    width: 100%;
}

.list-holder {
    display: flex;
}

.selection-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-piece {
    margin: 5px 3px 0px 3px;
    /* border: solid grey 1px; */
    /* border-radius: 5px; */
    /* padding: 3px 0px 3px 0px; */
}

.selection-List {
   padding: 0px;
   margin: 0px 0px 5px 0px;
}

.submit {
    width: 50%;
    border: solid white 1px;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    background-color: #6E9A61;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pantry-h-text {
    width:  70%;
    text-align: center;
}

.outerCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: solid 1px white;
    width: 30%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.innerImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.innerCard  {
    display: flex;
    flex-Direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* text-align: center; */
    padding: 10px;
    /* border: solid 2px black; */
    width: 90%;
    margin: 10px;
    background-color: white;
}